/* Empty. Add your own CSS if you like */
.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}
.scroll {
  height: 100%;
}

.new-request-wrapper .angular-google-map-container {
  height: 300px;
}

.angular-google-map-container {
  height: 400px;
}

.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}